.header {
    margin-bottom: 10px;
}

.box-shadow {
border: 1px solid;
padding: 10px;
box-shadow: 5px 10px #8888;
margin-bottom: 10px;
}

.text  {
    color: black;
}

.footer {
    margin-top: 10px;
}